@import url("https://fonts.google.com/specimen/Manrope");

.advice-container {
    padding: 2rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: hsl(217, 19%, 24%);
    position: relative;
    align-items: center;
    .advice-id {
        margin: 0;
        text-align: center;
        color: hsl(150, 100%, 66%);
        font-size: 12px;
        font-weight: 500;
        font-family: "Manrope";
        letter-spacing: 0.25em;
    }
    .advice{
        max-width: 320px;
        .advice-text {
            margin: 0;
            text-align: center;
            font-size: 28px;
            font-weight: 800;
            font-family: "Manrope";
            color: hsl(193, 38%, 86%);
        }
    }

    .button{
        position: absolute;
        bottom: -25px;
        left: 45.5%;
        background-color: hsl(150, 100%, 66%);
        padding: 1.5rem;

        height: 15px;
        width: 15px;
        border: none;
        outline: none;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        
        .dice {
            background-color: hsl(150, 100%, 66%);
            cursor: pointer;
            // height: 80%;
            // width: 80%;
            
        }
        }

}